
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

:root {
    --primary-color-dark-cyan: hsl(158, 36%, 37%);
    --primary-color-cream: hsl(30, 38%, 92%);

    --neutral-color-very-dark-blue: hsl(212, 21%, 14%);
    --neutral-color-dark-grayish-blue: hsl(228, 12%, 48%);
    --neutral-color-white: hsl(0, 0%, 100%);
}

body {
    background-color: var(--primary-color-cream);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

.container {
    display: flex;
    width: 650px;
    border-radius: 15px;
    background-color: var(--neutral-color-white);

    .imageProduct {
        border-radius: 15px 0 0 15px;
        background-image: url(../img/image-product-desktop.jpg);
        background-size: cover;
        position: static;
        width: 50%;
        padding: 31px;
    }
    
    .description {
        flex-direction: column; 
        flex-wrap: wrap;
        padding: 31px;
        width: 50%;

        .perfume {
            font-family: 'Montserrat', sans-serif;
            color: var(--neutral-color-dark-grayish-blue);
            letter-spacing: 4px;
            font-size: 14px;
            font-weight: 500;
        }

        h1 {
            font-family: 'Fraunces', serif;
            font-size: 38px;
        }

        .texto {
            font-family: 'Montserrat', sans-serif;
            color: var(--neutral-color-dark-grayish-blue);
            font-size: 15px;
            line-height: 25px;
            font-weight: 500;
        }

        .prices {

            display: flex;
            justify-content: space-between;
            padding-right: 60px;
            
            h2 {
                font-family: 'Fraunces', serif;
                color: var(--primary-color-dark-cyan);
                font-size: 32px;
            }

            .valorAnt {
                align-self: center;
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
                font-size: 13px;
                color: var(--neutral-color-dark-grayish-blue);
                text-decoration-line: line-through;
            }

        }

        .button {
            background-color: var(--primary-color-dark-cyan);
            color: var(--neutral-color-white);
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            width: 100%;
            border-radius: 10px;
            border: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            
            p {
                padding-left: 9px;
            }
            
            :hover {
                cursor: pointer;
            }
        }
    }
}

@media (max-width: 375px) {

    body {
        align-items: flex-start;
        padding-top: 40px;
    }

    .container {
        flex-direction: column;
        height: 650px;
        border-radius: 15px;
        margin: 15px;
        
        .imageProduct {
            position: static;
            width: 100%;
            height: 40%;
            border-radius: 15px 15px 0 0;
            background-image: url(../img/image-product-mobile.jpg);
            padding: 0;

        }

        .description {
            padding: 0;
            margin: 10px 20px;
            width: 90%;
            font-size: 11px;

            h1 {
                margin: 0;
                line-height: 34px;
                font-size: 33px;
            }

            .prices {
                justify-content: flex-start;
                padding-right: 100px;
            }

            h2 {
                padding-right: 20px;
                margin-top: 0;
            }
        }

    }
}




